<!doctype html>
<html lang="En">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Live Person Twitter APP</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
<style>
table, th, td {
  border: 1px solid black;
}
</style>

</head>

<body>
  <div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">

<a class="navbar-brand" href="/data"> Twitter Connect> Click here to Load new data from the Twitter Local DB</a>
    </nav>